<!DOCTYPE html>
<html>
<head>
    <title>About page</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait"  src="/img/myimg.jpeg" >
    </div>
    {{>footer}}
</body>
</html>