<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormsg}}</p>
    </div>
    
    {{>footer}}
</body>
</html>